html, body{
    
    font-family: 'Raleway', sans-serif;
}
/* tablette*/
@media only screen and (min-width: 768px) and (max-width: 991px)
{
    .navigation{
        justify-content: flex-end;
    }

    .emplacement {
        width:200px;
        flex-direction: column;
    }
}

.pageContent{
    width: 1200px;
    margin:0 auto;
    padding:0;
}

.panneau {
display: flex;
gap: 750px;
}

.navigation {
    display: flex;
    align-items: center;
    
  }
  .navi {
    padding: 0.9rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    text-decoration: none;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    

  }
  .navi[data-active=true] {
    color: #0065FC;
  }
  .navi:hover {
    color: #0065FC;
  }

.booki {
    height: 50px;
    width: 90px;
    margin-left: 30px;
}

/* HEADER */


h1{
    font-size: 28px;
    font-weight: 250;
}

header {
    margin: 3% 3% 0;
}

.h1-header{
    font-size: 15px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.desc-header{
    font-size: 10px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;

}



.icon{
    display: inline;
    position: relative;
    margin-left: 25px;
}

.icon-location{
    width: 25px;
    position: absolute;
    right: 0px;
    background-color: #dbd8d8;
    padding: 8px 5px 8px 5px;
    border-radius: 5px 1px 0px 5px;
}

.search{
    display: inline;
    border: 1px solid rgb(209, 209, 209);
    padding: 3px 5px 7px 5px;
}

.search-input{
    border: none;
}

.search-input:focus{
    outline: none;
}

.search-button{
    background-color: blue;
    border: none;
    padding: 8px 7px 7px 7px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    vertical-align: center;
    color: white;
}

*{
    box-sizing:border-box;
  
    /* filtres */
}

.titre {
    display: flex;
    margin: 7px;
    align-items: center;
    margin-top: 18px;

}


.filter{
  
    padding:0px 15px 10px 0px;
    border:1px solid #eeeeee;
    display:inline-block;
    border-radius:16px;
    height:31px;
    margin-left:10px;
    margin-top: 10px;
  
}
.filter span:first-child{
     height:29px;
     width:29px;
     background:#87CEFA;
     border-radius:50%;
     position:relative;
  
}
.filter span{
    display:inline-block;
  
}

/* Ce procede est le meme quand on a une image */
.filter span:first-child img{
   
    width:16px;
    height:16px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-8px, -8px, 0);
  
}

.filter span:last-child{ 
   margin-left:7px;
   transform:translate3d(0,5px,0);
   vertical-align:top;
  
}
.filter:hover{
  
    background:blue;
    color:#ffffff;
  
}

.blue-image path{
fill: #0065FC;
}

.emplacement{
    display: flex;
    justify-content: baseline;
margin-top: 5px;
margin-bottom: 5px;
}

.logements{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}
.info{
width: 15px;
height: 15px;
}

ul
{
    list-style-type: none;
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  
     box-sizing:border-box;
  
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{

}

/* Toute la zone au dessus n'est pas utile pour ton travail */

.blue-icon path{
    
    fill:#0065FC;
  
}
.grey-icon path{
  
    fill:#F2F2F2;
}

#wrapper-all-lodgings{
    
    display:flex;
    gap:30px;
  
}
#wrapper-area{
  
     padding:10px 30px 10px 30px;
     width:70%; /*Pas utile pour toi tu devras trouver tes propres dimentions */
     background:#F2F2F2;
     margin-top:30px; /* Pas utile pour toi tu devras trouver tes propres dimensions */
     border-radius:15px;
     
  
}
#wrapper-area #flex-area{
    display:flex;
    flex-wrap:wrap;
    gap:30px; /* Utile pour toi 
    
    https://coryrylan.com/blog/css-gap-space-with-flexbox

*/
margin-top: 30px;

}
#flex-area a{
    text-decoration:none;
    color:#000000;
    display:block;
    width: calc((100% / 3) - 20px);
    height:200px;
    background:#ffffff;
    padding:3px;
    border-radius:10px;
    box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
/*     Link to generate the box-shadow: https://www.cssmatic.com/box-shadow */
}
#flex-area a img{
    object-fit:cover;
    width:100%;
    height: 60%;
    border-radius:10px 10px 0 0;
  
}
#flex-area a *:not(img){
  
    margin-left:10px;
    display:inline-block;
    width:100%;
    margin-top:5px;
  
}
#flex-area a span:first-of-type{
   
     font-weight:bold;
     font-size:1rem;
  
}
#flex-area a span:nth-of-type(2){
    font-size:0.9rem;
  
}

#flex-area a div:first-of-type svg{
     width:14px;
     height:14px;
     margin:0;
  
}

/* Zone les plus populaires */
#wrapper-most-popular{
     margin-top:30px; /* Pas utile pour toi tu devras trouver tes propres dimensions */
     width:40%; /* Pas utile pour toi tu devras trouver tes propres dimensions; */
     background:#F2F2F2;
     border-radius:15px;
     padding:10px 30px 10px 30px;
     position:relative;
  
}
#wrapper-most-popular h3{
    
    display:inline-block;
  
}
#wrapper-most-popular .right-icon{
     
     width:20px;
     height:20px;
     vertical-align:middle;
     position:absolute;
     top:20px;
     right:30px;
}

#most-populars-flex{
  
    display:flex;
    flex-direction:column;
    gap:30px;
    margin-top: 25px;
  
}
#most-populars-flex a{
    text-decoration:none;
    color:#000000;
    width: 100%;
    height:140px;
    background:#ffffff;
    padding:3px;
    border-radius:10px;
    box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
/*     Link to generate the box-shadow: https://www.cssmatic.com/box-shadow */
  
    display:flex;
}
#most-populars-flex a img:first-child{
    
    width:40%;
    border-radius:10px 0 0 10px;
    object-fit:cover;
  
}
#most-populars-flex a div:first-of-type{
  
     width:60%;
     padding:15px;
     position:relative;
  
}

#most-populars-flex a div:first-of-type *{
  
     display:inline-block;
     width:100%;
  
}
#most-populars-flex a div:first-of-type span:first-child{
   
     font-weight:bold;
     font-size:1rem;
  
}
#most-populars-flex a div:first-of-type span:nth-child(2){
    font-size:0.9rem;
    margin-top:10px;
  
}

#most-populars-flex a div:first-of-type div:last-child{
    
    position:absolute;
    bottom:5px;
    left:0;
    padding-bottom:0;
  
}
#most-populars-flex a div:first-of-type div:last-child svg{
     width:14px;
     height:14px;
     margin:0;
  
}
#marseille-activities{
    margin-top:50px;
  
}
#marseille-activities-flex{
     
    display:flex;
    gap:30px;
    margin-top: 13px;
  
}
#marseille-activities-flex .marseille-activities-flex-child {
    border-radius:15px;
    width:calc(100% / 4);
    height:350px;
    text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:first-child, .marseille-activities-flex-child:nth-child(3), .marseille-activities-flex-child:nth-child(2) a:first-child, .marseille-activities-flex-child:nth-child(2) a:last-child, .marseille-activities-flex-child:last-child a  {
    box-shadow: 1px 0px 3px 0px rgba(158,158,158,1);
    
}

.marseille-activities-flex-child img{
   
    width:100%;
    height:86%;
    border-radius:15px 15px 0 0;
    object-fit:cover;
    display:block;
  
}
.marseille-activities-flex-child p{
  
    font-weight:bold;
    margin-top: 10px;
    margin-left:15px;
    display:inline-block;
  
}

.marseille-activities-flex-child:nth-child(2), .marseille-activities-flex-child:last-child{
  
     display:flex;
     flex-direction:column;
     gap:30px;
  
}

.marseille-activities-flex-child a{
  
     text-decoration:none;
    color:#000000;
  
}

.marseille-activities-flex-child:nth-child(2) a, .marseille-activities-flex-child:last-child a{
  
    border-radius:15px;
  
}

.marseille-activities-flex-child a:first-child{
  
    height:51.5%;
  
}



.marseille-activities-flex-child a:first-child img{
  
     height:75% !important;
     
}

.marseille-activities-flex-child a:last-child img{
  
    height:65% !important;
  
}

.marseille-activities-flex-child:nth-child(2) a:last-child{
    height:40%;
  
}

.marseille-activities-flex-child:last-child a:first-child{
  
     height:45%;
  
}
.marseille-activities-flex-child:last-child a:last-child{
  
    height:calc(55% - 30px);
  
}
.marseille-activities-flex-child:last-child a:first-child img{

   height:70% !important;
    
  
}
.marseille-activities-flex-child:last-child a:last-child img{

   height:70% !important;
    
  
}

/* footer */
.oui{
    background-color: #F2F2F2;
}

.bottom {
    display: flex;
    gap: 300px;
    margin-top: 40px;
    margin-left: 150px;

}

.gras {
    font-weight: bold;
}

.bas p{
    margin: 10px;
} 
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .oui{
        background-size: auto;
    }
  }